<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <img src="{{product.images[0]}}" alt="" height="400px" width="350px">
        </div>
        <div class="col-md-7 ">
            <h4>{{product.title}} <em>({{product.brand}})</em></h4>
             <span>Price:  <mark>{{product.price | currency: 'USD'}}</mark></span>
             <h5>Description:</h5>
             <p>{{product.description}}</p>
              <h5>Quantity available:</h5>
              <p>{{product.stock}}</p>
              <h5>Quantity available:</h5>
              <p>{{product.rating}}</p>
              <button (click)="retour()" class="btn btn-primary">Retour</button>
       </div>
    </div>
</div>
